<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hannah.yoo.itourette">

    <application
        android:icon="@drawable/iconfinal"
        android:roundIcon="@drawable/iconfinal"
        android:supportsRtl="true"
        android:label="iTourette"
        android:theme="@style/Theme.ITourette"
        android:fullBackupContent="false"
        android:allowBackup="false">

        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".GameMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Signup"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".MyDatabase"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name="hannah.yoo.itourette.Homepage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name="hannah.yoo.itourette.Analysis"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name="hannah.yoo.itourette.Information"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name="hannah.yoo.itourette.FocusTracker"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>



        <activity android:name="hannah.yoo.itourette.IdentifyRightColor.GameGitc1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name="hannah.yoo.itourette.IdentifyRightColor.Stat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name="hannah.yoo.itourette.Gktls"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name="hannah.yoo.itourette.randomCardMatchingGame.GameActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name="hannah.yoo.itourette.randomCardMatchingGame.Grcg"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name="hannah.yoo.itourette.randomCardMatchingGame.ImageAdapter"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name="hannah.yoo.itourette.Gctrb"
            android:exported="true">
            <intent-filter>
                <action android:name="android.action.VIEW"/>
            </intent-filter>
        </activity>

    </application>
</manifest>


